*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* START INDEX FILE STYLE*/
.main{
    text-align: center;
}
.main  h1{
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 40px;
    margin: 0 auto 40px;
    padding: 20px;
}
.main ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 20px;
    font-size: 22px;
    background-color: #eee;
    cursor: pointer;
}
a{
    color:black;
    text-decoration: none;
}
/* END INDEX FILE STYLE*/
.container{
    width: 500px;
    margin: 20px auto;
}
.container .form{
    display: flex;
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
}
.container .form .input{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 20px;
    caret-color: #2961f6;
}
.container .form .input:focus{
    outline: none;
}
.container .form .add,
.container .tasks .task{
    padding: 10px;
    margin-left: 20px;
    border:none;
    border-radius: 6px;
    background-color: #43f436;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.container .tasks{
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
}
.container .tasks .no-tasks{
    display: block;
    text-align: center;
    background-color: white;
    color: #777;
    font-size: 25px;
    font-weight: bold;   
    padding: 10px;
}
.container .tasks .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #2961f6;
    transition: 0.3s;
    font-size: 20px;
}
.container .tasks .task:not(:last-child){
    margin-bottom: 15px;
}
.container .tasks .task:hover{
    background-color: #f7f7f7;
}
.container .tasks .task.done{
    background-color: #43f436;
    color: white;
}
.container .tasks .task span,
.container .clear{
    background-color: #e91e63;
    padding: 15px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    border-radius: 6px;
}
.container .clear{
    width: fit-content;
    margin: 20px auto;
    cursor: pointer;
}
.container .tasks-state{
    overflow: hidden;
    margin: 10px auto;
}
.container .tasks-state .tasks-count,
.container .tasks-state .tasks-completed{
    float: left;
    width: 50%;
    padding: 10px;
}
.container .tasks-state .tasks-completed{
    text-align: right;
}
.container .tasks-state span{
    padding: 3px 5px;
    border-radius: 4px;
    margin-left: 5px;
}
.container .tasks-state .tasks-count span{
    background-color: #2961f6;
}
.container .tasks-state .tasks-completed span{
    background-color: #43f436;
}
.clear-fix{
    clear: both;
}